@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    margin: 0;
    padding: 1em 0 0 0;
    font-family: 'Poppins', sans-serif;
}

h2, p {
    margin: 0;
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
}

.row > .key {
    margin: .2em;
    padding: 2em;
    border: solid 2px rgb(11, 24, 49);
    border-radius: 8px;
    font-size: 1.5em;
    text-transform: uppercase;
    transition: 150ms ease-in-out;
}

.row > .key.active {
    color: white;
    background-color: rgb(11, 24, 49);
}

.row > .key.success {
    color: white;
    background-color: rgb(9, 61, 35);
}

.row > .key.fail {
    color: white;
    background-color: rgb(150, 8, 8);
    border: solid 2px rgb(150, 8, 8);
}

button {
    background-color: rgb(21, 45, 90);
    color: white;
    border-radius: 8px;
    padding: 13px 27px;
    border: none;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
}

button:hover {
    background-color: rgb(27, 58, 124);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.39);
    transition: 500ms ease-out;
}